.postcard-form {
  width: 500px;
  height: auto;
  justify-content: right;
  margin-top: 150px;
  font-family: "Roboto";
}

.form-btn {
  width: 500px;
  height: 35px;
  margin-top: 20px;
  background-color: rgb(245, 233, 235);
  color: rgb(177, 67, 67);
  font-weight: 500;
  border-radius: 5px;
  font-family: "Roboto";
}
